{% extends 'artgest/base.html' %}

{% block main %}
    <section class="info">

    <div class="info-top">
        <p>Através do ArtGest, poderá fazer a gestão dos seus <br>
        produtos, matérias-primas e gastos! </p>
    </div>

        <div class="container">

            <div class="row justify-content-md-center">
                <div class="col-md-3 box box-info">
                    <h3>Produção</h3>
                    <p>
                        Obtenha o preço ideal para o seu produto, faça a gestão do seu estoque e crie alertas para quantidade mínima de produtos desejada.
                    </p>
                </div>

                <div class="col-md-3 box box-info">
                    <h3>Matéria-prima</h3>
                    <p>
                        Faça a gestão do seu estoque, crie alertas para quantidade mínima de matérias-primas desejada e listas de compras.
                    </p>
                </div>

                <div class="col-md-3 box box-info">
                    <h3>Gastos</h3>
                    <p>
                        Faça a gestão dos seus gastos de produção.
                    </p>
                </div>

            </div>

        </div>
    </section>
{% endblock %}