{% extends 'artgest/base.html' %}

{% load static %}

{% block scripts %}
    <script src="{% static 'artgest/js/produtos_registar.js' %}"></script>
{% endblock %}

{% block message %}
    {#  mostra notificação se houver mensagens retornadas da view após submissão do form #}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show modal-fade" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Sucesso: </strong> {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block main %}
    <h1>{{ titulo }}</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="codigo" value=0>
        <p>{{ tprod_form.nome.label }}{{ tprod_form.nome }}</p>
        <p>{{ tprod_form.categoria_codigo.label }}{{ tprod_form.categoria_codigo }}</p>
        <div class="clss-obrigatorio">{{ tprod_form.imagem.label }}</div>
        <input type="file" name="imagem" }}>
        <br><br>
        <p>{{ tprod_form.lucro.label }}{{ tprod_form.lucro }}</p>
        <p>{{ tprod_form.preco.label }}{{ tprod_form.preco }}</p>
        <p class="clss-nota">Nota: Após guardar o Tipo de Produto poderá adicionar a Produção, as Matérias-Primas e os Gastos.</p>
        <button type="button" id="bt-guardar" class="btn btn-primary float-right">Guardar</button>
        <a href="{% url 'artgest:produtos_registar' %}" role="button" class="btn btn-secondary float-right mr-1">Limpar</a>

        <div id="modal-confirmacao" class="clss-modal-fundo">
            <div class="clss-modal-confirmacao modal-fade">
                <div class="clss-modal-confirmacao-conteudo">
                    <h4><strong>Confirmar?</strong></h4>
                    <hr>
                    <p>Tem a certeza que pretende guardar o Tipo de Produto?</p>
                    <hr>
                    <div class="clss-modal-botoes">
                        <button type="button" id="bt-cancelar" class="mb-5 btn btn-secondary btn-sm mr-1">Cancelar</button>
                        <button type="submit" class="mb-5 btn btn-primary btn-sm">Sim, guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}